* {
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
  box-sizing: border-box;
}
/* Pages */
* {
  box-sizing: border-box;
}
.tab {
  background-color: #555;
  width: 100%;
  height: 50px;
}
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  height: 50px;
}
.tablink:hover {
  background-color: #777;
}
.tabcontent {
  display: none;
  padding: 10px 20px;
  height: 100%;
}

#home {
  padding: 50px 35px;
}
.home-welcome-style {
  font-size: 10vw;
  font-weight: bold;
  color: cadetblue;
}
.home-descrition-style {
  font-size: 4vw;
  font-weight: bold;
  color: lightslategrey;
}

/* Form */

.main-container {
  padding: 0 15px;
}
.form-container {
  width: 50%;
  margin: 50px auto;
  box-shadow: 0 0px 10px 0 #cecece;
  z-index: 3;
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  background-color: #fff;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  display: inline-block;
  padding: 0px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-size: 25px;
}
.table-container {
  width: 100%;
  margin: 50px auto;
}
.form {
  padding: 20px 50px;
}
h1 {
  background: #006064;
  padding: 10px 20px;
  color: #fff;
  margin: 0 0;
}
input[type='text'],
input[type='number'] {
  display: block;
  width: 100%;
  padding: 5px 10px 5px 5px;
  border: none;
  border-bottom: 1px solid #cecece;
  border-radius: 2px;
  margin-bottom: 20px;
  outline: none;
  font-size: 18px;
}
input[type='text']:focus,
input[type='number']:focus {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}
input[type='button'] {
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  border: none;
  border-radius: 2px;
  padding: 0.3rem 1.3rem;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  transition: .3s ease-out;
  font-size: 18px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
input[type='button']:hover {
  background-color: #2bbbad;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
input[type='button']:focus {
  outline: none;
}
input[type='button'].btnDelete {
  background: #d32f2f;
}
input[type='button'].btnDelete:hover {
  background-color: #e53935;
}

/*Table*/
table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}
table,
th,
td {
  border: none;
}
thead {
  border-bottom: 1px solid #d0d0d0;
}
table > tbody > tr:nth-child(odd) {
  background-color: #f2f2f2;
}
td,
th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}
th {
  text-transform: uppercase;
}
table input[type='button'] {
  padding: 10px;
  font-size: 15px;
  line-height: 1;
  height: auto;
}
@media only screen and (max-width: 700px) {
  .form-container {
    width: 70%;
  }
  .form {
    padding: 15px;
  }
  input[type='text'],
  input[type='number'] {
    width: 100%;
  }
  .table-container {
    width: 100%;
    max-width: 100%;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
  }
  table thead {
    border: 0;
    border-right: 1px solid #d0d0d0;
    display: block;
    float: left;
  }
  table thead tr {
    display: block;
    padding: 0 10px 0 0;
  }
  table th,
  table td {
    display: block;
    text-align: right;
    margin: 0;
    vertical-align: top;
  }
  table tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
  table tbody tr {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
  }
  table td {
    display: block;
    min-height: 1.25em;
    text-align: left;
  }
}
